<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quico.srhelper.mapper.SrLightconeMaterialBindMapper">

    <resultMap type="SrLightconeMaterialBind" id="Result">
        <result property="id"             column="id"              />
        <result property="lightconeId"    column="lightcone_id"    />
        <result property="lightconeName"  column="cone_name"       />
        <result property="itemAscensionType" column="item_ascension_type" />
        <result property="itemId"         column="item_id"         />
        <result property="seriesId"       column="series_id"       />
        <result property="itemName"       column="item_name"       />
        <result property="itemImage"      column="item_image"      />
        <result property="rarityLevel"    column="rarity_level"    />
        <result property="sortOrder"      column="sort_order"      />
        <result property="createBy"       column="create_by"       />
        <result property="createTime"     column="create_time"     />
        <result property="updateBy"       column="update_by"       />
        <result property="updateTime"     column="update_time"     />
        <result property="remark"         column="remark"          />
    </resultMap>

    <sql id="selectSrLightconeMaterialBindVo">
        select id, lightcone_id, cone_name, item_ascension_type, item_id, series_id, item_name, item_image, rarity_level, sort_order, create_by, create_time, update_by, update_time, remark from sr_lightcone_material_bind
    </sql>

    <!-- ==================== 业务自定义方法 ==================== -->

    <select id="selectByLightConeIdAndItemId" resultMap="Result">
        select * from sr_lightcone_material_bind
        where lightcone_id = #{lightconeId} and item_id = #{itemId}
    </select>

    <select id="selectByLightConeId" parameterType="Long" resultMap="Result">
        select * from sr_lightcone_material_bind
        where lightcone_id = #{lightconeId}
        order by sort_order
    </select>

    <insert id="insert" parameterType="SrLightconeMaterialBind" useGeneratedKeys="true" keyProperty="id">
        insert into sr_lightcone_material_bind
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="lightconeId != null">lightcone_id,</if>
            <if test="lightconeName != null">cone_name,</if>
            <if test="itemAscensionType != null">item_ascension_type,</if>
            <if test="itemId != null">item_id,</if>
            <if test="seriesId != null">series_id,</if>
            <if test="itemName != null">item_name,</if>
            <if test="itemImage != null">item_image,</if>
            <if test="rarityLevel != null">rarity_level,</if>
            <if test="sortOrder != null">sort_order,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="lightconeId != null">#{lightconeId},</if>
            <if test="lightconeName != null">#{lightconeName},</if>
            <if test="itemAscensionType != null">#{itemAscensionType},</if>
            <if test="itemId != null">#{itemId},</if>
            <if test="seriesId != null">#{seriesId},</if>
            <if test="itemName != null">#{itemName},</if>
            <if test="itemImage != null">#{itemImage},</if>
            <if test="rarityLevel != null">#{rarityLevel},</if>
            <if test="sortOrder != null">#{sortOrder},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="update" parameterType="SrLightconeMaterialBind">
        update sr_lightcone_material_bind
        <trim prefix="SET" suffixOverrides=",">
            <if test="lightconeName != null">cone_name = #{lightconeName},</if>
            <if test="itemAscensionType != null">item_ascension_type = #{itemAscensionType},</if>
            <if test="itemId != null">item_id = #{itemId},</if>
            <if test="seriesId != null">series_id = #{seriesId},</if>
            <if test="itemName != null">item_name = #{itemName},</if>
            <if test="itemImage != null">item_image = #{itemImage},</if>
            <if test="rarityLevel != null">rarity_level = #{rarityLevel},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteByLightConeId" parameterType="Long">
        delete from sr_lightcone_material_bind where lightcone_id = #{lightconeId}
    </delete>

    <select id="selectSrLightconeMaterialBindList" parameterType="SrLightconeMaterialBind" resultMap="Result">
        <include refid="selectSrLightconeMaterialBindVo"/>
        <where>
            <if test="lightconeId != null"> and lightcone_id = #{lightconeId}</if>
            <if test="lightconeName != null  and lightconeName != ''"> and cone_name like concat('%', #{lightconeName}, '%')</if>
            <if test="itemAscensionType != null  and itemAscensionType != ''"> and item_ascension_type = #{itemAscensionType}</if>
            <if test="itemId != null"> and item_id = #{itemId}</if>
        </where>
    </select>

    <select id="selectSrLightconeMaterialBindById" parameterType="Long" resultMap="Result">
        <include refid="selectSrLightconeMaterialBindVo"/>
        where id = #{id}
    </select>

    <insert id="insertSrLightconeMaterialBind" parameterType="SrLightconeMaterialBind" useGeneratedKeys="true" keyProperty="id">
        insert into sr_lightcone_material_bind
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="lightconeId != null">lightcone_id,</if>
            <if test="lightconeName != null">cone_name,</if>
            <if test="itemAscensionType != null and itemAscensionType != ''">item_ascension_type,</if>
            <if test="itemId != null">item_id,</if>
            <if test="seriesId != null">series_id,</if>
            <if test="itemName != null">item_name,</if>
            <if test="itemImage != null">item_image,</if>
            <if test="rarityLevel != null">rarity_level,</if>
            <if test="sortOrder != null">sort_order,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="lightconeId != null">#{lightconeId},</if>
            <if test="lightconeName != null">#{lightconeName},</if>
            <if test="itemAscensionType != null and itemAscensionType != ''">#{itemAscensionType},</if>
            <if test="itemId != null">#{itemId},</if>
            <if test="seriesId != null">#{seriesId},</if>
            <if test="itemName != null">#{itemName},</if>
            <if test="itemImage != null">#{itemImage},</if>
            <if test="rarityLevel != null">#{rarityLevel},</if>
            <if test="sortOrder != null">#{sortOrder},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSrLightconeMaterialBind" parameterType="SrLightconeMaterialBind">
        update sr_lightcone_material_bind
        <trim prefix="SET" suffixOverrides=",">
            <if test="lightconeId != null">lightcone_id = #{lightconeId},</if>
            <if test="lightconeName != null">cone_name = #{lightconeName},</if>
            <if test="itemAscensionType != null and itemAscensionType != ''">item_ascension_type = #{itemAscensionType},</if>
            <if test="itemId != null">item_id = #{itemId},</if>
            <if test="seriesId != null">series_id = #{seriesId},</if>
            <if test="itemName != null">item_name = #{itemName},</if>
            <if test="itemImage != null">item_image = #{itemImage},</if>
            <if test="rarityLevel != null">rarity_level = #{rarityLevel},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateLightconeName" parameterType="map">
        update sr_lightcone_material_bind
        set cone_name = #{lightconeName},
            update_time = CURRENT_TIMESTAMP
        where lightcone_id = #{lightconeId}
    </update>

    <delete id="deleteSrLightconeMaterialBindById" parameterType="Long">
        delete from sr_lightcone_material_bind where id = #{id}
    </delete>

    <delete id="deleteSrLightconeMaterialBindByIds" parameterType="String">
        delete from sr_lightcone_material_bind where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
