<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quico.srhelper.mapper.SrUserItemMapper">
    
    <resultMap type="SrUserItem" id="SrUserItemResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="itemId"    column="item_id"    />
        <result property="quantity"    column="quantity"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSrUserItemVo">
        select id, user_id, item_id, quantity, create_by, create_time, update_by, update_time, remark from sr_user_item
    </sql>

    <select id="selectSrUserItemList" parameterType="SrUserItem" resultMap="SrUserItemResult">
        <include refid="selectSrUserItemVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="itemId != null "> and item_id = #{itemId}</if>
            <if test="quantity != null "> and quantity = #{quantity}</if>
        </where>
    </select>
    
    <select id="selectSrUserItemById" parameterType="Long" resultMap="SrUserItemResult">
        <include refid="selectSrUserItemVo"/>
        where id = #{id}
    </select>

    <select id="selectByUserIdAndItemId" resultMap="SrUserItemResult">
        <include refid="selectSrUserItemVo"/>
        where user_id = #{userId} and item_id = #{itemId}
    </select>

    <insert id="insertSrUserItem" parameterType="SrUserItem" useGeneratedKeys="true" keyProperty="id">
        insert into sr_user_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="itemId != null">item_id,</if>
            <if test="quantity != null">quantity,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="itemId != null">#{itemId},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSrUserItem" parameterType="SrUserItem">
        update sr_user_item
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="itemId != null">item_id = #{itemId},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSrUserItemById" parameterType="Long">
        delete from sr_user_item where id = #{id}
    </delete>

    <delete id="deleteSrUserItemByIds" parameterType="String">
        delete from sr_user_item where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>