<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quico.infra.mapper.QuicoUserSignInMapper">
    
    <resultMap type="QuicoUserSignIn" id="QuicoUserSignInResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="signDate"    column="sign_date"    />
        <result property="signTime"    column="sign_time"    />
        <result property="isRepaired"    column="is_repaired"    />
    </resultMap>

    <sql id="selectQuicoUserSignInVo">
        select id, user_id, sign_date, sign_time, is_repaired from quico_user_sign_in
    </sql>

    <select id="selectQuicoUserSignInList" parameterType="QuicoUserSignIn" resultMap="QuicoUserSignInResult">
        <include refid="selectQuicoUserSignInVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="signDate != null "> and sign_date = #{signDate}</if>
            <if test="signTime != null "> and sign_time = #{signTime}</if>
            <if test="isRepaired != null "> and is_repaired = #{isRepaired}</if>
        </where>
    </select>
    
    <select id="selectQuicoUserSignInById" parameterType="Long" resultMap="QuicoUserSignInResult">
        <include refid="selectQuicoUserSignInVo"/>
        where id = #{id}
    </select>

    <insert id="insertQuicoUserSignIn" parameterType="QuicoUserSignIn" useGeneratedKeys="true" keyProperty="id">
        insert into quico_user_sign_in
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="signDate != null">sign_date,</if>
            <if test="signTime != null">sign_time,</if>
            <if test="isRepaired != null">is_repaired,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="signDate != null">#{signDate},</if>
            <if test="signTime != null">#{signTime},</if>
            <if test="isRepaired != null">#{isRepaired},</if>
         </trim>
    </insert>

    <update id="updateQuicoUserSignIn" parameterType="QuicoUserSignIn">
        update quico_user_sign_in
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="signDate != null">sign_date = #{signDate},</if>
            <if test="signTime != null">sign_time = #{signTime},</if>
            <if test="isRepaired != null">is_repaired = #{isRepaired},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteQuicoUserSignInById" parameterType="Long">
        delete from quico_user_sign_in where id = #{id}
    </delete>

    <delete id="deleteQuicoUserSignInByIds" parameterType="String">
        delete from quico_user_sign_in where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>